@{
    Layout = "_LayoutBase";
    User authorizedUser = ViewBag.AuthorizedUser;
    string displayName = authorizedUser.FirstName + " " + authorizedUser.LastName;
}

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Task" asp-action="MyTasks">LawyerTimeTracker</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Help">Help</a>
                    </li>
                    @{
                        if (User.IsInRole("admin"))
                        {
                            <li>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ViewUsers">View Users</a>
                            </li>
                            <li>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Add Users</a>
                            </li>
                            <li>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Statistics" asp-action="Statistics">Statistics</a>
                            </li>
                        }
                    }
                </ul>
                <div class="user-actions">
                    <ul>
                        <a class="text-dark user-action-title">@displayName</a>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="GetProfile">My Profile</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">Log out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2022 - LawyerTimeTracker - All rights reserved
    </div>
</footer>

@await RenderSectionAsync("Scripts", required: false)