@{
    ViewData["Title"] = "My Tasks";
}
<h1>@ViewData["Tasks"]</h1>

<div class="board">
    <div class="board-column">
        <div class="board-column-title">To do</div>
        <div class="board-column-items">
            <div class="board-column-item">Item</div>
        </div>
    </div>
</div>