@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley">building Web apps with ASP.NET Core</a>.</p>
</div>