@model IEnumerable<LawyerTimeTracker.Models.User>
@{
    ViewBag.Title = "All users";
}

<table class="table">
    <tr><td>Name</td></tr>
    @foreach (var item in Model)
    {
        <tr><td>@item.Name</td></tr>
    }
</table>