a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.user-actions {
    cursor: pointer;
    margin-right: 0;
    display: flex;
    justify-content: center;
}

.user-actions ul {
    list-style: none;
}

.user-actions li {
    display: none;
}

.user-actions:hover li{
    display: list-item;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.login-form {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.board {
  display: flex;
  padding: 31px;
  width: 700px;
  background: #97d1e1;
  border-radius: 38px;
  justify-content: center;
}

.board *{
  font-family: sans-serif;
}

.board-column {
  flex: 1;
}

.board-column:not(:last-child){
  margin-right: -3px;
  border: 2px black;
  border: solid;
}

.board-column-title {
  margin-bottom: 20px;
  font-size: 30px;
  color: #080808;
  text-align: center;
  
}

.board-column-issue {
  padding: 10px 15px;
  box-sizing: border-box;
  background: white;
  border-radius: 10px;
  cursor: pointer;
}

.board-column-issue-title{
  font-size: 20px;
}

.board-column-issue-item{
  font-size: 16px;
}